<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja de Livros</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Loja de Livros</h1>
      <div id="livros-lista" class="livros-lista"></div>
    </div>

    <div id="modal" class="modal">
      <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <h2>QR Code para Pagamento</h2>
        <img id="qrcode-img" alt="QR Code do Pagamento" />
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
